//
// Pager pagination
// --------------------------------------------------


.pager {
    li {
        > a, > span {
            margin: 0;
            border: 0;
            padding: 0;
        }
    }
}
